<p id="notice"><%= notice %></p>

<p>
  <strong>Meal type:</strong>
  <%= @entry.meal_type %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @entry.calories %>
</p>

<p>
  <strong>Proteins:</strong>
  <%= @entry.proteins %>
</p>

<p>
  <strong>Carbohydrates:</strong>
  <%= @entry.carbohydrates %>
</p>

<p>
  <strong>Fats:</strong>
  <%= @entry.fats %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
